<%= form_tag("/users/#{@user.id}", method: :patch, multipart: true, class: "container") do %>
    <div class="form-group">
      <label for="file">ユーザー画像</label>
      <input class="d-block" id="file" type="file" name="image">
    </div>
    <div class="form-group">
    <%= label_tag(:user_name, "ユーザー名") %>
    <%= text_field_tag(:name, "#{@user.name}", class: "form-control form-control-lg") %>
    </div>
    <div class="form-group">
    <%= label_tag(:email, "Eメール") %>
    <%= text_field_tag(:email, "#{@user.email}", class: "form-control form-control-lg") %>
    </div>
    <div class="form-group">
    <%= label_tag(:password, "パスワード") %>
    <%= password_field_tag(:password, "#{@user.password}", class: "form-control form-control-lg") %>
    </div>
    <div class="form-group">
      <%= label_tag(:introduction, "自己紹介文") %>
      <%= text_area_tag(:introduction, "#{@user.introduction}", class: "form-control") %>
    </div>
    <div class="row justify-content-end">
      <input type="submit" class="btn btn-primary" value="保存">
      <input type="reset" class="btn btn-outline-secondary" value="キャンセル">
    </div>
<% end %>