<%= form_tag("/users/login", method: :post, class:"container") do %>
  <div class="form-group">
    <%= label_tag(:email, "Eメール") %>
    <%= text_field_tag(:email, [], class:"form-control form-control-lg") %>
  </div>
  <div class="form-group">
    <%= label_tag(:password, "パスワード") %>
    <%= password_field_tag(:password, [], class:"form-control form-control-lg") %>
  </div>
    <div class="row justify-content-end">
      <input type="submit" class="btn btn-primary" value="ログイン">
    </div>
<% end %>
