<div class="question-area">
  <%= render "layouts/question" %>
</div>
<%= form_for @answer, :html => {class: "container pt-5"} do |f| %>
  <div class="form-group">
    <%= f.label :answer_content, "あなたの回答" %>
    <%= f.text_area :content, class: "form-control", size: "40x10" %>
    <div class="row pt-4 justify-content-end">
      <%= f.submit "編集する", class: "btn btn-primary" %>
      <input type="reset" class= "btn btn-outline-secondary" value="キャンセル">
    </div>
  </div> 
<% end %>
