<div class="container py-4">
  <%= render "layouts/question" %>
 </div>

<% @answers.each do |answer| %>  
  <div class="container">
  <div class="border p-3">
    <div class="row">
      <%= image_tag "/user_images/#{answer.user.image_name}", class: "col-1" %>
      <%= link_to(answer.user.name, "/users/#{answer.user.id}", class: "col-9 font-weight-bold") %>
      <p class="col-2"><%= answer.created_at %></p>
    </div>
    <div class="row">
      <%= link_to(answer.content, "/answers/#{answer.id}", class: "col pt-4") %>
    </div>
    <div class="row justify-content-end">
      <div class="col-1">
        <% if Like.find_by(user_id: @current_user.id, answer_id: answer.id) %>
          <%= link_to("/likes/#{answer.id}/destroy", {method: "post"}) do %>
            <i class="fas fa-heart fa-2x fa-fw" style="color:red;"></i>
          <% end %>
        <% else %>
          <%= link_to("/likes/#{answer.id}/create", {method: "post"}) do %>
            <i class="far fa-heart fa-2x fa-fw" style="color:red;"></i>
          <% end %>
        <% end %>
        <%= link_to(answer.likes.count, "/users") %>
      </div>
      <div class="col-2">
        <%= link_to("/comments/#{answer.id}/new") do %>
          <% if Comment.find_by(user_id: @current_user.id, answer_id: answer.id) %>
            <i class="fas fa-comments fa-2x fa-fw" style="color:royalblue;"></i>
          <% else %>
            <i class="far fa-comments fa-2x fa-fw"></i>
          <% end %>
        <% end %>
        <%= link_to(answer.comments.count, "/users") %>
      </div>
    </div>
  </div>
</div>
<% end %>  

  