<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-danger sticky-top">
      <% if session[:user_id] %>
      <a class="navbar-brand" href="/answers">
        <i class="far fa-grin-squint-tears fa-3x text-white">ogiri</i>
      </a>
      <% else %>
      <a class="navbar-brand" href="/">
        <i class="far fa-grin-squint-tears fa-3x text-white">ogiri</i>
      </a>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ml-auto">
        <% if session[:user_id] %>
          <li class="nav-item">
            <%= link_to("ホーム", "/answers", class:"nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("プロフィール編集", "/users/#{@current_user.id}/edit", class:"nav-link") %> 
          </li>
          <li class="nav-item">
            <%= link_to("ランキング", "/answers/rank", class:"nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("新規作成", "/answers/new", class:"nav-link") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/users/logout", method: :post, class:"nav-link") %>
          </li>
        <% else %>  
          <li class="nav-item">
            <%= link_to("新規登録", "/users/new", class:"nav-link") %>
          </li>
        <% end %>  
        </ul>
        </div>
  </nav>
</header>